#about.about
    article.about__block
        h3.about__title Вкрадце
        p.about__text Более 5 лет воздухоплавательная команда Нева-Аэро выполняет полёты на воздушных шарах для гостей и жителей Петербурга над одними из самых живописных мест России – Царским Селом и Павловском, возведенных в Пушкинском районе Санкт-Петербурга.
        p.about__text Мы предлагаем полетать с нами!
    .about__video
        iframe(src='https://www.youtube.com/embed/qEdvUbGaIqk' allowfullscreen)