section.accordion
    h3.accordion__title Часто задаваемые вопросы
    .accordion__item
        label.accordion__label(for='flight') Что взять с собой в полет?
        input#flight.accordion__input(type='checkbox' name='accordion' checked)
        p.accordion__text Обязательно возьмите с собой теплую одежду и немного вкусной еды, которую не нужно разогревать, а еще термос горячим чаем. А мы обязательно дадим вам теплые пледы.
    .accordion__item
        label.accordion__label(for='side') Что если мы улетим не в ту сторону?
        input#side.accordion__input(type='checkbox' name='accordion')
        p.accordion__text Обязательно возьмите с собой теплую одежду и немного вкусной еды, которую не нужно разогревать, а еще термос горячим чаем. А мы обязательно дадим вам теплые пледы.
    .accordion__item
        label.accordion__label(for='badly') Что делать, если в полете станет плохо?
        input#badly.accordion__input(type='checkbox' name='accordion')
        p.accordion__text Обязательно возьмите с собой теплую одежду и немного вкусной еды, которую не нужно разогревать, а еще термос горячим чаем. А мы обязательно дадим вам теплые пледы.
    .accordion__item
        label.accordion__label(for='awesome') А полет – это действительно так здорово?
        input#awesome.accordion__input(type='checkbox' name='accordion')
        p.accordion__text Обязательно возьмите с собой теплую одежду и немного вкусной еды, которую не нужно разогревать, а еще термос горячим чаем. А мы обязательно дадим вам теплые пледы.