.advantages
    .advantages__item
        p.advantages__text Современный надежный шар
    .advantages__item
        p.advantages__text Обучение пилотированию
    .advantages__item
        p.advantages__text Фотосъемка в полете
    .advantages__item
        p.advantages__text Потрясающие виды
