#contacts.contacts
    .contacts__address
        h4.contacts__title Запишите наш адрес:
        p.contacts__location Санкт-Петербург, Вяземский 5-7
    .contacts__office
        h4.contacts__title Наш офис в Питере:
        p.contacts__location Санкт-Петербург,
            br
            |  Вяземский 5-7
        a.contacts__phone(href='tel:+79818169862') 816-98-62
    .contacts__office
        h4.contacts__title Наш офис в Петергофе:
        p.contacts__location Санкт-Петербург,
            br
            |  Аэродромная 16
        a.contacts__phone(href='tel:+79818169862') 816-98-62
    .contacts__social
        a.contacts__social--email(href='mailto:olbolot@gmail.com') olbolot@gmail.com
        a.contacts__social--vk(href='https://vk.com/olbol' target='_blank')
        a.contacts__social--fb(href='https://facebook.com/olbol' target='_blank')
        a.contacts__social--inst(href='https://instagram.com/olbolot' target='_blank')