.counter
    ul.counter__list
        li.counter__item
            span.counter__number 100
            span.counter__text дней
        li.counter__item
            span.counter__number 22
            span.counter__text часа
        li.counter__item
            span.counter__number 12
            span.counter__text минут
        li.counter__item
            span.counter__number 43
            span.counter__text секунд