.facts
    .facts__item
        p.facts__number 700
        p.facts__text Полетов&nbsp;
            br
            | в год
    .facts__item
        p.facts__number 3000
        p.facts__text Дальность&nbsp;
            br
            | в метрах
    .facts__item
        p.facts__number 3
        p.facts__text Воздушных&nbsp;
            br
            | шара
    .facts__item
        p.facts__number 12
        p.facts__text Человек&nbsp;
            br
            | в команде