#flight.flight
    h3.flight__title Как проходят полеты
    ul.flight__list
        li.flight__item
        li.flight__item
        li.flight__item
        li.flight__item
        li.flight__item
    .flight__programm
        .flight__counter
            p.flight__text До ближайшего полета:
            include counter