#instructors.instructors
    h3.instructors__title Команда инструкторов
    .instructors__wrapper
        .instructors__item
            img.instructors__photo(src='img/instructor-maria.png' alt='Член команды')
            p.instructors__name Мария Мариева
                span.instructors__position Старший пилот
        .instructors__item
            img.instructors__photo(src='img/instructor-karina.png' alt='Член команды')
            p.instructors__name Карина Каринова
                span.instructors__position Авиадспетчер
        .instructors__item
            img.instructors__photo(src='img/instructor-irina.png' alt='Член команды')
            p.instructors__name Ирина Иринова
                span.instructors__position Авиатехник
        .instructors__item
            img.instructors__photo(src='img/instructor-alena.png' alt='Член команды')
            p.instructors__name Алена Аленова
                span.instructors__position Старший пилот