.promo-block
    h1.promo-block__title Организация полетов на воздушных шарах
    a.promo-block__btn(href='#flight') Подробнее
    ul.promo-block__list
        li.promo-block__item Увлекательная экскурсия
        li.promo-block__item Запоминающийся подарок
        li.promo-block__item Удивительный опыт
        li.promo-block__item Романтическая прогулка