.rewiews
    h3.rewiews__title Отзывы
    .rewiews__wrapper
        .rewiews__item
            img.rewiews__img(src='img/rewiew-olga.png' alt='Фото комментатора')
            p.rewiews__name Ольга Алексеева
            p.rewiews__text Оооо это было чудесно!!! Я не знала что воздушные шары такие огромные. Забавно, большой шар и маленькая корзинка. Полет восхитительный, выше всяких похвал. Мы побывали в самом красивом месте на Земле - в небе, оттуда открываются потрясающие виды.
        .rewiews__item
            img.rewiews__img(src='img/rewiew-artem.png' alt='Фото комментатора')
            p.rewiews__name Артем Рыбкин
            p.rewiews__text Жене подарил полет на воздушном шаре. Сделал сюрприз на день рождения. Жена была в восторге, мне и самому понравилось, очень необычные ощущения от полета, хоть не самолет, а летит быстро, маршрут подобрали красивый. Cпасибо вам, нам все понравилось.