.tabs
    h3.tabs__title Способы оплаты
    label.tabs__label(for='cash') Наличными
    input#cash.tabs__input.tabs__input--cash(type='radio'  name='tabs' checked)
    label.tabs__label(for='courier') Курьером
    input#courier.tabs__input.tabs__input--courier(type='radio' name='tabs')
    label.tabs__label(for='card') Картой
    input#card.tabs__input.tabs__input--card(type='radio' name='tabs')

    h4.tabs__mobile-title Наличными
    p.tabs__text.tabs__text--cash Вы можете оплатить услугу,  приехав к нам в офис. Для этого Вам необходимо предупредить об этом:
    p.tabs__text.tabs__text--cash — по телефону: +7 (812) 640-19-39,
        br
        | — или по почте: mnebyvnebo@gmail.com
    p.tabs__text.tabs__text--cash Оплачивая услугу в офисе, Вы получаете все документы
    h4.tabs__mobile-title Курьером
    p.tabs__text.tabs__text--courier Вы можете оплатить услугу в любом районе города и в удобное время, вызвав курьера. Для этого Вам необходимо связаться с нашими сотрудниками и сообщить об этом:
    p.tabs__text.tabs__text--courier — по телефону: +7 (812) 640-19-39,
        br
        | — или по почте: mnebyvnebo@gmail.com
    p.tabs__text.tabs__text--courier Оплачивая услугу курьером, Вы получаете все документы подтверждающие оплату.
    h4.tabs__mobile-title Картой
    p.tabs__text.tabs__text--card В ближайшее время мы добавим возможность оплаты с помощью кредитной карты VISA и MasterCard. Пока просим вас использовать наличные деньги для оплаты услуг.
