.counter{
  color: #fff;

  &__item{
    list-style-type: none;
    display: inline-block;
    padding: 0 15px;
  }

  &__number{
    font-size: 32px;
    display: block;
    text-align: center;
  }

  &__text{
    font-size: 22px;
    text-align: center;
  }
}