doctype
html(lang='ru')
    include blocks/head
    body
        include blocks/page-header
        main
            include blocks/promo-block
            include blocks/advantages
            include blocks/about
            include blocks/gallery
            include blocks/flight
            include blocks/cost
            include blocks/payment
            include blocks/facts
            include blocks/instructors
            include blocks/rewiews
            include blocks/contacts
        include blocks/page-footer
        script(src='js/jquery-3.0.0.min.js')
        script(src='js/main.js')
        //script(src='js/jquery-migrate-1.4.1.min.js')
        //script(src='js/owl.carousel.min.js')